@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Styles globaux de l'application
 */

@layer base {
  * {
    @apply border-slate-200;
  }

  body {
    @apply bg-white text-slate-900;
  }
}
